absl-py==0.11.0
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
conda-package-handling==1.7.2
conda==4.9.2
configparser==5.0.2
cryptography==3.2.1
decorator==4.4.2
defusedxml==0.6.0
docker-pycreds==0.4.0
entrypoints==0.3
future==0.18.2
gitdb==4.0.7
gitpython==3.1.14
gym-custom==0.0.1
gym-pomdps==1.0.0
gym-visual==0.0.1
gym==0.18.0
idna==2.10
importlib-metadata==2.0.0
indextools==0.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
jedi==0.17.0
jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
markupsafe==1.1.1
mistune==0.8.4
nb-conda-kernels==2.3.1
nb-conda==2.2.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numpy==1.20.2
packaging==20.8
pandocfilters==1.4.3
parso==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.2.4
ply==3.11
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.15.7
psutil==5.8.0
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.20
pyglet==1.5.0
pygments==2.7.3
pyopenssl==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysocks==1.7.1
python-dateutil==2.8.1
pyyaml==5.4.1
pyzmq==20.0.0
requests==2.24.0
rl-parsers==0.1.0
ruamel-yaml==0.15.87
scipy==1.6.2
send2trash==1.5.0
sentry-sdk==1.0.0
setuptools==50.3.1.post20201107
shortuuid==1.0.1
six==1.15.0
smmap==4.0.0
subprocess32==3.5.4
terminado==0.9.1
testpath==0.4.4
torch==1.8.1
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
wandb==0.10.24
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
zipp==3.4.0